body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }

  .login-box {
    width: 320px;
    height: 380px;
    background: var(--bg-panel);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    flex: 1 1 auto;
    padding-bottom: 7px;
    margin: 27px 0 0 0;
    border-radius: 6px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: var(--color-headings);
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: var(--color-text);
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid var(--color-headings);
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--color-headings);
    font-size: 16px;
  }
  
  .login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: var(--color-headings);
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box button[type="submit"]:hover {
    cursor: pointer;
    background: var(--color-text);

  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #333333;
  }


  /* ! Toggle */

  html {
    height: 100%;
    --bg: #FCFCFC;
    --bg-panel: #ebebeb;
    --color-headings: #0077FF;
    --color-text: #333333;
}   

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #b5b5b5;
}

body {
    background-color: var(--bg);
}

.container {
    background-color: var(--bg-panel);
}

.input-toggle[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mega-toggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

.mega-toggle:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 90px;
    transition: 0.3s;
}

.input-toggle:checked + .mega-toggle {
    background: var(--color-headings);
}

.input-toggle:checked + .mega-toggle:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.mega-toggle:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
