table {
    border-collapse: collapse;
    width: 95%;
    color: #0077FF;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    font-size: 20px;
} 

th {
    background: #0077FF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}